@CHARSET "UTF-8";
.box{
	position: absolute;
	top: -15px;
	left: 10px;
	font-size: 22px;
	font-weight: normal;	
}
#top{
	margin-top:10px;
	 border:1px solid #666; position:relative;  padding:20px 0 0 30px;
	margin-left:11px;
	border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;

	background-color:#c3c3c3;
}

select option{
	width:150px;	
}
#line{
	margin-left:11px;
	margin-top:7px;
	background-color:#c3c3c3;
	/* border:1px solid #F00; */
	height:3px;
}
#select{
	margin-top:7px;
	margin-left:11px;
	background-color:#9bbbf0;
	font-size:14px;
}
#outworks{
	margin-top:7px;
	margin-left:11px;
	background-color:#9bbbf0;
	font-size:14px;
	
}
#archives{
	
	border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;
	background-color:#98800e;
	font-size:16;
	margin-left:10px;
	width:100px;
	height:30px;
}
.outwork{
border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;
	font-size:16;
	margin-left:2px;
	width:100px;
	height:30px;
}


.selectbutton{
	border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;
	font-size:16;
	margin-left:5px;
	width:100px;
	height:30px;
}
.endadd{

	border:1px solid #F00;
	width:100px;
	margin-left:200px}
.editor{
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;
	background-color:#8080ff;
	
	
}
.delete{
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;
	background-color:#ef4b95;
}
.addoption{
	background-color:#8080ff;
	width:100px;
	height:30px;
	margin-left:50px;
	border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;
}
#addfoot{
	margin-left:11px;
}
.contectleft{
	
}


